* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Press Start 2P", system-ui, Arial, Helvetica, sans-serif;
  cursor: url("Images/cursor\ .png"), auto;
}

:root {
  --card-height: 280px;
  --text-color: white;
  --accent-1: blue;
}

.table {
  width: 100vw;
  height: 100vh;
  background-color: rgb(88, 52, 0);
  background-image: url("Images/textures/wood-texture.jpg");
  background-repeat: repeat;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
}

.outer-game {
  width: 95%;
  height: 90%;
  background-color: rgb(27, 27, 27);
  background-image: url("Images/textures/black-cloth-texture.jpg");
  background-repeat: repeat;
  background-size: contain;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.left-side {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.troll-text {
  color: var(--text-color);
  font-size: 1.8rem;
  text-align: center;
  line-height: 40px;
}

.balance {
  color: var(--text-color);
  font-size: 1.8rem;
  text-align: center;
  line-height: 50px;
}

.inner-game {
  width: 50%;
  height: 95%;
  background-color: rgb(0, 70, 0);
  background-image: url("Images/textures/green-cloth-texture.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  position: relative;
}

.dealer,
.player {
  width: 100%;
  height: 50%;
  color: var(--text-color);
  position: relative;
}

.h-dealer {
  position: absolute;
  top: 40%;
  left: 20px;
}

.right-side-dealer,
.right-side-player {
  width: 75%;
  height: 100%;
  float: right;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.right-side-dealer img,
.right-side-player img {
  height: var(--card-height);
}

.cards-dealer,
.cards-player {
  width: 80%;
  height: calc(var(--card-height) * 1.1);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.score-dealer,
.score-player {
  font-size: 2rem;
}

.h-player {
  position: absolute;
  top: 60%;
  left: 20px;
}

.chips-player {
  position: absolute;
  width: 28%;
  height: 20%;
  left: 20px;
  bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.chip {
  width: 30%;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: double 5px var(--text-color);
  background-color: var(--accent-1);
  transition: all 150ms;
}

.chip:hover {
  background-color: var(--text-color);
  color: var(--accent-1);
  border: double 5px var(--accent-1);
}

.result-display {
  position: absolute;
  height: 30%;
  width: 25%;
  left: 40px;
  top: 50%;
  transform: translate(0%, -50%);
  color: var(--text-color);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 40px;
}

.right-side {
  width: 25%;
  height: 100%;
}

.deck-image-div {
  width: 100%;
  height: 50%;
  position: relative;
}

.deck-image,
.deck-image-second,
.deck-image-third {
  position: absolute;
  height: var(--card-height);
  left: 50%;
  top: 50%;
}

.deck-image {
  transform: translate(-50%, -50%);
}

.deck-image-second {
  transform: translate(-49%, -48%);
}

.deck-image-third {
  transform: translate(-48%, -46%);
}

img {
  user-select: none;
  -webkit-user-select: none;
  pointer-events: none;
}

.play-buttons {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.start-game-button,
.hit-button,
.stand-button,
.reset-button,
.bet-button {
  width: 80%;
  height: 50px;
  background-color: var(--accent-1);
  color: var(--text-color);
  border: none;
  font-size: 1.8rem;
  transition: all 150ms;
}

.start-game-button:hover,
.hit-button:hover,
.stand-button:hover,
.reset-button:hover,
.bet-button:hover {
  background-color: var(--text-color);
  color: var(--accent-1);
}
