* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Press Start 2P", system-ui, Arial, Helvetica, sans-serif;
  cursor: url("Images/cursor\ .png"), auto;
}

:root {
  --card-height: 280px;
  --text-color: white;
  --accent-1: blue;
}

.table {
  width: 100vw;
  height: 100vh;
  background-color: rgb(88, 52, 0);
  background-image: url("Images/textures/wood-texture.jpg");
  background-repeat: repeat;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
}

.outer-game {
  width: 95%;
  height: 90%;
  background-color: rgb(27, 27, 27);
  background-image: url("Images/textures/black-cloth-texture.jpg");
  background-repeat: repeat;
  background-size: contain;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.left-side {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.troll-text {
  color: var(--text-color);
  font-size: 1.8rem;
  text-align: center;
  line-height: 40px;
}

.balance {
  color: var(--text-color);
  font-size: 1.8rem;
  text-align: center;
  line-height: 50px;
}

.inner-game {
  width: 50%;
  height: 95%;
  background-color: rgb(0, 70, 0);
  background-image: url("Images/textures/green-cloth-texture.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  position: relative;
}

.dealer,
.player {
  width: 100%;
  height: 50%;
  color: var(--text-color);
  position: relative;
}

.h-dealer {
  position: absolute;
  top: 40%;
  left: 20px;
}

.right-side-dealer,
.right-side-player {
  width: 75%;
  height: 100%;
  float: right;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.right-side-dealer img,
.right-side-player img {
  height: var(--card-height);
}

.cards-dealer,
.cards-player {
  width: 80%;
  height: calc(var(--card-height) * 1.1);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: opacity 3000ms ease;
}

.logo-image-one {
  height: var(--card-height);
  position: absolute;
  left: 20%;
  transform: rotate(-15deg);
}

.logo-image-two {
  height: var(--card-height);
  position: absolute;
  right: 20%;
  transform: rotate(15deg);
}

.logo-title {
  font-size: 4rem;
  color: yellow;
  z-index: 1;
  margin-top: 150px;
  text-shadow: -5px -5px 0 #000, 5px -5px 0 #000, -5px 5px 0 #000,
    5px 5px 0 #000, 0px 5px 0 #000, 5px 0px 0 #000, 0px -5px 0 #000,
    -5px 0px 0 #000;
}

.how-to {
  color: var(--text-color);
  font-size: 2rem;
  text-align: center;
  line-height: 50px;
}

.how-to span {
  font-size: 2.5rem;
  text-decoration: underline;
}

.rules-link {
  color: var(--text-color);
  font-size: 1.5rem;
  text-decoration: none;
  border: solid 5px var(--text-color);
  padding: 10px;
  transition: all 150ms;
}

.rules-link:hover {
  color: var(--accent-1);
  background-color: var(--text-color);
  border: solid 5px var(--accent-1);
}

.score-dealer,
.score-player {
  font-size: 2rem;
}

.score-value-dealer,
.score-value-player {
  transition: opacity 3000ms ease;
}

.bet-display {
  position: absolute;
  width: 28%;
  height: 20%;
  left: 20px;
  bottom: 50%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.bet-amount-display {
  color: var(--text-color);
  font-size: 1.5rem;
  text-align: center;
  line-height: 40px;
}

.h-player {
  position: absolute;
  top: 60%;
  left: 20px;
}

.chips-player {
  position: absolute;
  width: 28%;
  height: 20%;
  left: 20px;
  bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.chip {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: double 5px var(--text-color);
  background-color: var(--accent-1);
  box-shadow: -5px -5px 10px black;
  transition: all 150ms;
  text-align: center;
}

.chip:hover {
  background-color: var(--text-color);
  color: var(--accent-1);
  border: double 5px var(--accent-1);
}

.result-display {
  position: absolute;
  height: 30%;
  width: 25%;
  left: 40px;
  top: 50%;
  transform: translate(0%, -50%);
  color: var(--text-color);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 40px;
}

.right-side {
  width: 25%;
  height: 100%;
}

.deck-image-div {
  width: 100%;
  height: 50%;
  position: relative;
}

.deck-image,
.deck-image-second,
.deck-image-third {
  position: absolute;
  height: var(--card-height);
  left: 50%;
  top: 50%;
}

.deck-image {
  transform: translate(-50%, -50%);
}

.deck-image-second {
  transform: translate(-49%, -48%);
}

.deck-image-third {
  transform: translate(-48%, -46%);
}

img {
  user-select: none;
  -webkit-user-select: none;
  pointer-events: none;
  box-shadow: -5px -5px 10px black;
  border-radius: 15px;
}

.play-buttons {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.start-game-button,
.hit-button,
.stand-button,
.reset-button,
.bet-button {
  width: 80%;
  height: 50px;
  background-color: var(--accent-1);
  color: var(--text-color);
  border: none;
  font-size: 1.8rem;
  box-shadow: -5px -5px 5px rgba(100, 100, 100, 0.25);
  transition: all 150ms;
}

.start-game-button:hover,
.hit-button:hover,
.stand-button:hover,
.reset-button:hover,
.bet-button:hover {
  background-color: var(--text-color);
  color: var(--accent-1);
}

.start-game-button:active,
.hit-button:active,
.stand-button:active,
.reset-button:active,
.bet-button:active {
  scale: 1.08;
}

@keyframes swoop-in-dealer {
  0% {
    opacity: 0;
    transform: translateX(600px) translateY(-60px) scale(0.8) rotate(-10deg);
  }
  50% {
    opacity: 1;
    transform: translateX(300px) translateY(-30px) scale(1.05) rotate(2deg);
  }
  100% {
    opacity: 1;
    transform: translateX(0px) translateY(0) scale(1) rotate(0deg);
  }
}

.card-animate-dealer {
  animation: swoop-in-dealer 800ms linear;
}

@keyframes swoop-in-player {
  0% {
    opacity: 0;
    transform: translateX(600px) translateY(-380px) scale(0.8) rotate(-10deg);
  }
  50% {
    opacity: 1;
    transform: translateX(300px) translateY(-90px) scale(1.05) rotate(2deg);
  }
  100% {
    opacity: 1;
    transform: translateX(0px) translateY(0) scale(1) rotate(0deg);
  }
}

.card-animate-player {
  animation: swoop-in-player 800ms linear;
}

@keyframes flip {
  0% {
    opacity: 1;
    transform: translateX(-100px) perspective(600px) rotateY(90deg);
  }
  40% {
    opacity: 0.7;
    transform: translateX(-200px) perspective(600px) rotateY(90deg);
  }
  70% {
    opacity: 0.7;
    transform: translateX(-100px) perspective(600px) rotateY(90deg);
  }
  100% {
    opacity: 1;
    transform: translateX(0px) perspective(600px) rotateY(0deg);
  }
}

.covered-card-animate {
  animation: flip 800ms linear;
  backface-visibility: hidden;
}

@keyframes move-up {
  0% {
    transform: translateY(180px);
  }
  40% {
    transform: translateY(120px);
  }
  70% {
    transform: translateY(70px);
  }
  100% {
    transform: translateY(0px);
  }
}

.chip-animation {
  animation: move-up 800ms linear;
}

@keyframes move-down {
  0% {
    transform: translateY(0px);
  }
  40% {
    transform: translateY(70px);
  }
  70% {
    transform: translateY(120px);
  }
  100% {
    transform: translateY(180px);
  }
}

.chip-animation-down {
  animation: move-down 300ms linear;
}

@keyframes gone {
  0% {
    transform: scale(1);
  }
  40% {
    transform: scale(0.7);
  }
  70% {
    transform: scale(0.4);
  }
  100% {
    transform: scale(0);
  }
}

.chip-animation-gone {
  animation: gone 300ms linear;
}

/* Media Queries */

@media (max-width: 1200px) {
  :root {
    --card-height: 220px;
  }

  .troll-text,
  .balance {
    font-size: 1.4rem;
    line-height: 35px;
  }

  .logo-title {
    font-size: 3rem;
    margin-top: 120px;
  }

  .how-to {
    font-size: 1.6rem;
    line-height: 40px;
  }

  .how-to span {
    font-size: 2rem;
  }

  .rules-link {
    font-size: 1.2rem;
    padding: 8px;
  }

  .score-dealer,
  .score-player {
    font-size: 1.6rem;
  }

  .bet-amount-display {
    font-size: 1.2rem;
    line-height: 35px;
  }

  .chip {
    width: 50px;
    height: 50px;
    font-size: 0.9rem;
  }

  .result-display {
    width: 30%;
    font-size: 0.9rem;
    line-height: 35px;
  }

  .start-game-button,
  .hit-button,
  .stand-button,
  .reset-button,
  .bet-button {
    height: 45px;
    font-size: 1.4rem;
  }
}

@media (max-width: 992px) {
  :root {
    --card-height: 180px;
  }

  .outer-game {
    flex-direction: column;
    height: 95%;
  }

  .left-side {
    width: 100%;
    height: 15%;
    flex-direction: row;
    justify-content: space-around;
  }

  .troll-text {
    display: none;
  }

  .balance {
    font-size: 1.2rem;
    line-height: 25px;
  }

  .inner-game {
    width: 100%;
    height: 70%;
  }

  .right-side {
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: row;
  }

  .deck-image-div {
    width: 30%;
    height: 100%;
  }

  .play-buttons {
    width: 70%;
    height: 100%;
    flex-direction: row;
  }

  .start-game-button,
  .reset-button {
    width: 120px;
    height: 40px;
    font-size: 1rem;
  }

  .hit-button,
  .stand-button,
  .bet-button {
    width: 30%;
    height: 60%;
    font-size: 1.2rem;
  }

  .logo-title {
    font-size: 2.5rem;
    margin-top: 100px;
  }

  .how-to {
    font-size: 1.3rem;
    line-height: 30px;
  }

  .how-to span {
    font-size: 1.6rem;
  }

  .rules-link {
    font-size: 1rem;
    padding: 6px;
  }

  .bet-amount-display {
    font-size: 1rem;
    line-height: 30px;
  }

  .result-display {
    width: 35%;
    font-size: 0.8rem;
    line-height: 30px;
  }

  .deck-image,
  .deck-image-second,
  .deck-image-third {
    height: calc(var(--card-height) * 0.8);
  }
}

@media (max-width: 768px) {
  :root {
    --card-height: 140px;
  }

  .balance {
    font-size: 1rem;
    line-height: 20px;
  }

  .bet-amount-display {
    font-size: 0.8rem;
    line-height: 25px;
  }

  .start-game-button,
  .reset-button {
    width: 100px;
    height: 35px;
    font-size: 0.7rem;
  }

  .h-dealer,
  .h-player {
    font-size: 0.9rem;
  }

  .logo-title {
    font-size: 1.8rem;
    margin-top: 70px;
  }

  .how-to {
    font-size: 1rem;
    line-height: 25px;
  }

  .how-to span {
    font-size: 1.2rem;
  }

  .rules-link {
    font-size: 0.7rem;
    padding: 5px;
    border: solid 3px var(--text-color);
  }

  .score-dealer,
  .score-player {
    font-size: 1.2rem;
  }

  .chip {
    width: 40px;
    height: 40px;
    font-size: 0.7rem;
    border: double 3px var(--text-color);
  }

  .chip:hover {
    border: double 3px var(--accent-1);
  }

  .result-display {
    width: 40%;
    left: 20px;
    font-size: 0.7rem;
    line-height: 25px;
  }

  .bet-display {
    width: 35%;
    height: 18%;
  }

  .chips-player {
    width: 35%;
    height: 18%;
  }

  .hit-button,
  .stand-button,
  .bet-button {
    font-size: 1rem;
  }
}

@media (max-width: 576px) {
  :root {
    --card-height: 110px;
  }

  .outer-game {
    width: 98%;
    height: 95%;
  }

  .left-side {
    padding: 10px 5px;
  }

  .balance {
    font-size: 0.7rem;
    line-height: 18px;
  }

  .bet-amount-display {
    font-size: 0.6rem;
    line-height: 20px;
  }

  .start-game-button,
  .reset-button {
    width: 80px;
    height: 30px;
    font-size: 0.5rem;
  }

  .h-dealer {
    top: 35%;
    left: 10px;
    font-size: 0.7rem;
  }

  .h-player {
    top: 65%;
    left: 10px;
    font-size: 0.7rem;
  }

  .logo-title {
    font-size: 1.2rem;
    margin-top: 50px;
    text-shadow: -3px -3px 0 #000, 3px -3px 0 #000, -3px 3px 0 #000,
      3px 3px 0 #000, 0px 3px 0 #000, 3px 0px 0 #000, 0px -3px 0 #000,
      -3px 0px 0 #000;
  }

  .how-to {
    font-size: 0.7rem;
    line-height: 18px;
  }

  .how-to span {
    font-size: 0.9rem;
  }

  .rules-link {
    font-size: 0.5rem;
    padding: 4px;
    border: solid 2px var(--text-color);
  }

  .rules-link:hover {
    border: solid 2px var(--accent-1);
  }

  .score-dealer,
  .score-player {
    font-size: 0.9rem;
  }

  .chip {
    width: 32px;
    height: 32px;
    font-size: 0.5rem;
    border: double 2px var(--text-color);
  }

  .chip:hover {
    border: double 2px var(--accent-1);
  }

  .result-display {
    width: 45%;
    left: 10px;
    font-size: 0.55rem;
    line-height: 18px;
  }

  .bet-display {
    width: 40%;
    height: 16%;
    left: 10px;
  }

  .chips-player {
    width: 40%;
    height: 16%;
    left: 10px;
    bottom: 10px;
  }

  .hit-button,
  .stand-button,
  .bet-button {
    font-size: 0.8rem;
    height: 50%;
  }

  .deck-image,
  .deck-image-second,
  .deck-image-third {
    height: calc(var(--card-height) * 0.8);
  }
}

@media (max-width: 400px) {
  :root {
    --card-height: 90px;
  }

  .balance,
  .bet-amount-display {
    font-size: 0.5rem;
    line-height: 15px;
  }

  .start-game-button,
  .reset-button {
    width: 70px;
    height: 25px;
    font-size: 0.4rem;
  }

  .h-dealer,
  .h-player {
    font-size: 0.6rem;
  }

  .logo-title {
    font-size: 1rem;
    margin-top: 40px;
  }

  .how-to {
    font-size: 0.55rem;
    line-height: 15px;
  }

  .how-to span {
    font-size: 0.7rem;
  }

  .rules-link {
    font-size: 0.4rem;
    padding: 3px;
  }

  .score-dealer,
  .score-player {
    font-size: 0.7rem;
  }

  .chip {
    width: 28px;
    height: 28px;
    font-size: 0.4rem;
  }

  .result-display {
    width: 50%;
    font-size: 0.45rem;
    line-height: 15px;
  }

  .hit-button,
  .stand-button,
  .bet-button {
    font-size: 0.6rem;
  }
}

@media (max-height: 500px) and (orientation: landscape) {
  :root {
    --card-height: 100px;
  }

  .outer-game {
    height: 98%;
  }

  .left-side {
    height: 12%;
  }

  .inner-game {
    height: 76%;
  }

  .right-side {
    height: 12%;
  }

  .balance,
  .bet-amount-display,
  .start-game-button,
  .reset-button {
    font-size: 0.6rem;
  }

  .logo-title {
    font-size: 1.5rem;
    margin-top: 50px;
  }

  .how-to {
    font-size: 0.8rem;
    line-height: 20px;
  }

  .result-display {
    font-size: 0.65rem;
    line-height: 20px;
  }
}
